.page-template {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/food/food5.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.container {
  width: 1200px;
  background-color: var(--primary-one);
  padding: 25px; 
  z-index: 10;
}

.page-content {
  text-align: center;
}

h2 {
  margin: 0;
  color: white;
}
