.page-template {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/food/food5.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.title-container {
  background-color: var(--primary-one);
  padding: 25px;
  border-radius: 5px;
}

.page-content {
  text-align: center;
}

.title-container h2 {
  margin: 0;
  color: white;
  font-family: 'Markazi Text', serif;
}
