footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-wrapper {
  width: 100%;
  background-color: var(--primary-one);
  color: white;
}

.footer-logo,
.footer-nav,
.contact,
.social {
  flex: 1;
  margin: 1rem;
  max-width: calc(25% - 2rem);
  text-align: center; /* add center alignment */
}

.footer-logo img {
  max-width: 50%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.5rem 0;
}

ul li a {
  color: white;
  text-decoration: none;
}

.footer-nav ul li {
  color: white;
}

/* Media queries for smaller screens */
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo,
  .footer-nav,
  .contact,
  .social {
    max-width: 100%;
    margin: 0;
  }

  .footer-logo img {
    max-width: 70%;
  }
}
