.chicago-wrapper {
  width: 100%;
  background-color: var(--primary-two);
  padding-bottom: 50px;
}

.chicago {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.chicago-text {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chicago-text h2 {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 5rem;
}

.chicago-text h3 {
  margin-top: 0;
  text-align: left;
}

.chicago-text p {
  text-align: left;
}

.chicago-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.chicago-image {
  width: 30%;
  height: auto;
  margin: 0 1rem;
}

.image-adrian {
  position: relative;
  left: 1.5rem;
  top: -1.5rem;
}

.image-nick {
  position: relative;
  right: 2.5rem;
  bottom: -1.5rem;
}

/* Larger images on desktops */
@media (min-width: 768px) {
  .chicago-image {
    width: 40%;
  }
}

/* Media queries for smaller screens */
@media (max-width: 767px) {
  .chicago {
    grid-template-columns: 1fr;
  }

  .chicago-text {
    padding: 2rem;
  }

  .chicago-text h2 {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2.5rem;
  }
  

  .chicago-image {
    width: 50%;
    margin: 1rem 0;
  }

  .image-adrian {
    position: relative;
    left: 1.5rem;
    top: -1.5rem;
  }
  
  .image-nick {
    position: relative;
    right: 2.5rem;
    bottom: -1.5rem;
  }
}
