.testimonials-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-testimonials {
  text-align: center;
  margin-bottom: 2rem;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card-content {
  padding: 1rem;
  text-align: center;
}

.star-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.star-wrapper img {
  height: 1.5rem;
}

@media (max-width: 768px) {
  .card-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
