.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-title {
  margin-bottom: 2rem;
  text-align: center;
}

.title-testimonials {
  font-size: 5rem;
}

.testimonials-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* align items to the top */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  }

@media (max-width: 1200px) {
  .testimonials-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
  .testimonials-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .testimonials-card-wrapper {
    grid-template-columns: 1fr;
  }
}
