.hero-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-background {
  background-color: #495e57;
}

.call-to-action {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
  padding: 0 6rem;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: -3rem;
}

.hero-image-content {
  max-width: 300px;
  height: 300px;
}

.hero-text {
  margin-right: 20px;
}

h1 {
  color: var(--primary-two);
  font-size: 64px;
}

.call-to-action h1 {
  margin-bottom: 0;
}

.call-to-action h2 {
  margin-top: -1rem;
}

.reserve-a-table {
  background-color: var(--primary-two);
  outline: none;
  border: none;
  border-radius: 25px;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
  font-weight: bolder;
}
