.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 300px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-three);
  margin: 0 auto;
}

.card {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem; /* or adjust the value to your liking */
  margin-bottom: 1rem; /* or adjust the value to your liking */
}

.image-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* set the aspect ratio of the image wrapper */
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* scale the image to cover the entire wrapper */
}

.card-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 1rem;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline; /* align the baseline of the h2 and h3 */
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  display: inline-block; /* display h2 and h3 as inline-blocks */
}

h3 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.price {
  color: var(--secondary-one); /* set the color of h3 */
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  margin-top: 0.5rem;
  background-color: var(--primary-two);
  outline: none;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
  font-weight: bolder;
}

@media screen and (max-width: 767px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}
