.specials-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.specials {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.specials-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.specials-title h2 {
  font-size: 64px;
}

.btn {
  background-color: var(--primary-two);
  outline: none;
  border: none;
  border-radius: 25px;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%; /* add this line to fix the issue */
}
