.specials-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.specials {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.specials-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.specials-title h2 {
  font-size: 4rem;
}

.btn {
  background-color: var(--primary-two);
  outline: none;
  border: none;
  border-radius: 25px;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* align items to the top */
  margin-top: 2rem;
  }

@media screen and (max-width: 767px) {
  .specials-top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .specials-title h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .btn {
    width: 100%;
    margin-bottom: 1rem;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .card {
    flex-basis: calc(50% - 20px);
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .specials-title h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 1rem;
  }

  .cards-wrapper {
    margin-top: 1rem;
  }

  .card {
    flex-basis: calc(100% - 20px);
    margin-bottom: 2rem;
  }
}
