.header {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-image {
  width: 200px;
  height: auto;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
}

.navbar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu ul li {
  display: inline;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
  transition: color 0.3s;
  padding: 0 0.5rem;
}

.navbar-menu ul li a:hover {
  color: #ff9800;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger-image,
.close-image {
  width: 30px;
  height: auto;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-menu.open {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    padding: 1rem;
    overflow-y: scroll;
  }

  .navbar-menu.open ul li {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

