/* Reset list style for the nav */
header .header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Container div */
.header-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

/* Logo container */
.logo {
  display: flex;
  align-items: center;
}

/* Logo */
.nav-image {
  width: 200px;
  height: auto;
}

/* Nav container */
.header nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: end;
  align-items: center;
}

/* Nav items */
.header nav ul li {
  display: inline;
}

.header nav ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
  padding: 0 1rem; /* Add horizontal padding to space the nav menu items */
}

.header nav ul li a:hover {
  color: #ff9800;
}
