/* BookingForm.css */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

label {
  font-weight: bold;
  margin-top: 10px;
  text-align: center; /* Updated to center */
  width: 100%;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
select,
textarea {
  padding: 15px; /* Increased padding for taller inputs */
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button[type='submit'],
.action-button {
  background-color: var(--primary-one);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
}

button[type='submit']:hover,
.action-button:hover {
  background-color: var(--primary-two);
}

.reservation-form input,
.reservation-form select {
  width: 100%;
}

/* Added style for error messages */
.error {
  color: red;
}
