.booking-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

@media screen and (max-width: 767px) {
  .booking-form {
    max-width: 90%;
  }
}

label {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
select,
textarea {
  padding: 15px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button[type='submit'],
.action-button {
  background-color: var(--primary-one);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
}

button[type='submit']:hover,
.action-button:hover {
  background-color: var(--primary-two);
}

button[type='submit']:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.booking-form input,
.booking-form select {
  width: 100%;
}

/* Added style for error messages */
.error {
  color: red;
}
